<div class="lecture__edit container">
    <h1 class="titlename"><%= @lecture.title%> 강연 수정</h1>
    <%= form_for(@lecture) do |f|%>
        <%= f.hidden_field :lecturer, value: current_user.id %>
        <%= f.label :title, "강연 이름", class: "field__label" %>
        <div class="field">
            <%= f.text_field :title, class: "field__input" %>
        </div>
        <%= f.label :time, "강연 일시", class: "field__label" %>
        <div class="field field__date">
            <%= f.datetime_local_field :time, class: "field__date--input" %> 
            &nbsp;~&nbsp;
            <%= f.datetime_local_field :time, class: "field__date--input" %>
        </div>
        <!-- from (강연 시작 시간) to (강연 종료 시간) 으로 나눌 필요 있어보임 -->
        <%= f.label :subject, "강연 주제", class: "field__label" %>
        <div class="field">
            <%= f.text_field :subject, class: "field__input" %>
        </div>
        <%= f.label :intro, "강연 소개", class: "field__label" %>
        <div class="field field__text">
            <%= f.text_area :intro, class:"field--text" %>
        </div>
        <%= f.label :lec_poster, "강연 포스터 등록", class: "field__label" %><br>
        <div class="field ">
            <%= f.file_field :lec_poster, accept: "image/jpeg, image/jpg, image/png", class: "field__input" %>
        </div>
        <div class="action">
            <%= f.submit "강연수정", class:"field field--submit"%>
        </div>
    <% end %>
</div>