<h1>강연 등록 페이지</h1>

<%= form_for(@lecture) do |f|%>
    <%= f.hidden_field :lecturer, value: current_user.id %>
    <%= f.label :title, "강연 이름" %>
    <div class="field">
        <%= f.text_field :title %>
    </div>
    <%= f.label :time, "강연 일시" %>
    <div class="field">
        <%= f.datetime_field :time %>
    </div>
    <%= f.label :subject, "강연 주제" %>
    <div class="field">
        <%= f.text_field :subject %>
    </div>
    <%= f.label :intro, "강연 소개" %>
    <div class="field">
        <%= f.text_area :intro %>
    </div>
    <%= f.label :lec_poster, "강연 포스터 등록", class: "field__label" %><br>
    <div class="field">
        <%= f.file_field :lec_poster, accept: "image/jpeg, image/jpg, image/png", class: "field__input" %>
    </div>
    <div class="field">
        <%= f.submit "강연등록" %>
    </div>
<% end %>