<%#
1. 강연의 상세 조회가 가능한 페이지
2. 왼쪽 상단에는 강연의 포스터, 오른쪽에는 강연 소개
3. 페이지 하단에는 해당 강연을 본 관객들의 리뷰가 익명으로 개시
%>

<div class="lecture">
    <h1 class="lecture--name titlename"><%=@lecture.title%></h1>
    <div class="lecture__introbox introbox">
        <% if !@lecture.lec_poster.blank? %>
            <%= image_tag "#{@lecture.lec_poster}", class: "lecture--poster"%>
        <% else %>
            <%= image_tag "basic_lecture.JPG", class: "lecture--poster"%>
        <% end %>
        <div class="lecture__intro">
            <table class="lecture_table">
                <tr>
                    <th>강연일시</th>
                    <td><%= @lecture.time %></td>
                </tr>
                <tr>
                    <th>강연주제</th>
                    <td><%= @lecture.subject %></td>
                </tr>
            </table>
            <h4>강연소개</h4>
            <p class="lecture--intro"><%= @lecture.intro %></p>
        </div>   
    </div>


    <p id="write__review">리뷰작성하기</p>
    <%# 리뷰 작성 폼 %>
    <%= render "review_form"%>
    
    <h1 class="titlename">Review</h1>
    
    <div class="reviews">
    <%# 해당 강연의 리뷰 목록%>
    <% @reviews.each do |r|%>
        <div class="review__container">
            <p class="review--userdata"><%= r.age %>대 | <%= r.sex %> | <%= r.created_at.strftime("%F %H:%M") %></p>
            <p class="review__eval"><span class="review__eval--background"><%= r.background %></span> | 
                <span class="review__eval--star">
                    <%= make_star r.point %>
                </span>
            </p>
            <p class="review--content"><%= r.content %></p>
        </div>
    <% end %>
    </div>
</div>

<%= javascript_include_tag 'selectsex', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'reviewselect', 'data-turbolinks-track' => true %>