<%= form_for(@lecturer) do |f| %>
  <% if @lecturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>
      <ul>
      <% @lecturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :lec_id, "아이디", class: "field__label"%><br>
  <div class="field">
    <%= f.text_field :lec_id, class: "field__input" %>
  </div>
  <%= f.label :pw, "비밀번호", class: "field__label" %><br>
  <div class="field">
    <%= f.password_field :pw, class: "field__input" %>
  </div>
  <%= f.label :name, "이름", class: "field__label" %><br>
  <div class="field">
    <%= f.text_field :name, class: "field__input" %>
  </div>
    <%= fields_for :lecturer_categories do |cf| %>
      <%= cf.label :category, "카테고리", class: "field__label" %><br>
    <div class="field">
      <%= cf.text_field :category, class: "field__input" %>
    <% end %>
  </div>
  <%= f.label :sex, "성별", class: "field__label" %><br>
  <div class="field">
    <%= f.text_field :sex, class: "field__input" %>
  </div>
  <%= f.label :age, "나이", class: "field__label" %><br>
  <div class="field">
    <%= f.number_field :age, class: "field__input" %>
  </div>
  <%= f.label :career, "경력", class: "field__label" %><br>
  <div class="field">
    <%= f.number_field :career, class: "field__input" %>
  </div>
  <%= f.label :phone, "연락처", class: "field__label" %><br>
  <div class="field">
    <%= f.telephone_field :phone, class: "field__input" %>
  </div>
  <%= f.label :email, "이메일", class: "field__label" %><br>
  <div class="field">
    <%= f.email_field :email, class: "field__input" %>
  </div>
  <%= f.label :region, "주활동지역", class: "field__label" %><br>
  <div class="field">
    <%= f.text_field :region, class: "field__input" %>
  </div>
  <%= f.label :intro, "소개글", class: "field__label" %><br>
  <div class="field">
    <%= f.text_area :intro, class: "field__area" %>
  </div>
  <div class="actions">
    <%= f.submit "가입하기", class: "field field--submit" %>
  </div>
<% end %>
