<%= form_for(@lecturer, html: {multipart: true}) do |f| %>
  <% if @lecturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>
      <ul>
      <% @lecturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :lec_id, "아이디", class: "field__label"%><br>
  <div class="field">
    <%= f.text_field :lec_id, required: true, class: "field__input" %>
  </div>
  <%= f.label :pw, "비밀번호", class: "field__label" %><br>
  <div class="field">
    <%= f.password_field :pw, required: true, class: "field__input" %>
  </div>
  <%= f.label :pw_confirmation, "비밀번호 확인", class: "field__label" %><br>
  <div class="field">
    <%= f.password_field :pw_confirmation, class: "field__input" %>
  </div>
  <%= f.label :name, "이름", class: "field__label" %><br>
  <div class="field">
    <%= f.text_field :name, class: "field__input" %>
  </div>
    <%= fields_for :lecturer_categories do |cf| %>
      <%= cf.label :category, "카테고리", class: "field__label" %><br>
      <div class="field">
        <%= cf.hidden_field :category, value: "" %>
      <span class="field--ctg modalopen" data-modal="ctg">카테고리설정</span>
    <% end %>
    </div>
  <%= render "selectctg"%>
  <%= f.label :sex, "성별", class: "field__label" %><br>
  <div class="field field--sex">
      <%= f.radio_button :sex, "남", id: "lecturer_male", class: "field__radio--button"%>
      <span class="field__radio--male field__radio">남자</span>
      <%= f.radio_button :sex, "여", id: "lecturer_female", class: "field__radio--button"%>
      <span class="field__radio--female field__radio">여자</span>
  </div>
  <%= f.label :age, "나이", class: "field__label" %><br>
  <div class="field">
    <%= f.number_field :age, class: "field__input" %>
  </div>
  <%= f.label :career, "경력", class: "field__label" %><br>
  <div class="field">
    <%= f.number_field :career, class: "field__input" %>
  </div>
  <%= f.label :phone, "연락처", class: "field__label" %><br>
  <div class="field">
    <%= select_tag :phone1,
    options_for_select([["010"], ["011"], ["016"], ["017"], ["018"], ["019"]]), class: "input--phone"%>
    <span class="text__center">-</span>
    <%= text_field_tag :phone2, "", {size: 10, min: 4, max: 4, class: "input--phone" }%>
    <span class="text__center">-</span>
    <%= text_field_tag :phone3, "", {size: 10, min: 4, max: 4, class: "input--phone"} %>
  </div>
  <%= f.label :email, "이메일", class: "field__label" %><br>
  <div class="field">
    <%= text_field_tag :email, "", class: "field__input field--email" %><span class="text__center">@</span><%= text_field_tag :email_domain, "", class: "input__view field__input field--email" %>
    <%= select_tag :email_list, options_for_select([["도메인 선택", ""], ["naver.com"], ["hanmail.net"], ["nate.com"], ["gmail.com"], ["daum.net"], ["hotmail.com"], ["lycos.co.kr"], ["msn.com"], ["직접 입력", ""]]), class: "input__included field__input" %>
  </div>
  <%= f.label :region, "주활동지역", class: "field__label" %><br>
  <div class="field">
    <%= f.select :region,
    options_for_select([["서울"], ["인천"], ["부산"], ["대구"], ["울산"], ["광주"], ["대전"], ["경기"], ["강원"], ["충북"], ["충남"], ["전북"], ["전남"], ["경북"], ["경남"],["제주"]]), {}, class: "field__input field--region" %>
  </div>
  <%= f.label :lec_img, "프로필사진 등록", class: "field__label" %><br>
  <div class="field">
    <%= f.file_field :lec_img, accept: "image/jpeg, image/jpg, image/png", class: "field__input" %>
  </div>
  <%= f.label :shortintro, "소개 한마디", class: "field__label" %><br>
  <div class="field">
    <%= f.text_field :shortintro, class: "field__input", placeholder: "한줄 소개글을 적어주세요!(15자 이내)" %>
  </div>
  <%= f.label :intro, "소개글", class: "field__label" %><br>
  <div class="field field__text">
    <%= f.text_area :intro, class: "field--text" %>
  </div>
  <div class="actions">
    <%= f.submit "가입하기", class: "field field--submit" %>
  </div>
<% end %>
