<div class="mylecture">
    <h1 class="titlename"><%=current_user.name%>님의 강연 목록</h1>
    <div class="lecture__menu lecture__mylist">
        <% @lectures.each do |lec|%>
            <div class="lecture__menu--list lecture--mylist">
                <% if !lec.lec_poster.blank? %>
                    <a href="<%= lecture_path(lec.id) %>"><%= image_tag "#{lec.lec_poster}", class: "lecture--img image" %></a>
                <% else %>
                    <a href="<%= lecture_path(lec.id) %>"><%= image_tag "basic_lecture.JPG", class: "lecture--img image" %></a>
                <% end %>
                <p class="lecture__mylist--elt lecture__mylist--subject"><%= lec.subject %></p>
                <p class="lecture__mylist--elt lecture__mylist--title"><%= lec.title %></p>
                <%= link_to "수정", edit_lecture_path(lec.id), class:"lecture--update lecture--link"%>
                <%= link_to "삭제", lecture_path(lec.id), data: {method: :delete, confirm: "정말 삭제하시겠습니까?"},  class:"lecture--delete lecture--link"%>
            </div>
        <% end %>
    </div>
</div>