<div class='lecturer'>
    <h1 class='lecturer--name'><%=@lecturer.name%> 강사</h1>
    <div class='lecturer__introbox introbox'>
        <div class='lecturer__profile'>
            <% if !@lecturer.lec_img.blank? %>
              <%= image_tag "#{@lecturer.lec_img}", class: "lecturer__profile--img" %>
            <% else %>
              <%= image_tag "basic_lecturer.JPG", class: "lecturer__profile--img" %>
            <% end %>
               <table class="lecturer__table table" border="2">
                <tr class="lecturer__tablerow table__row">
                    <th class="lecturer__tablerow--sex table--elt">성별</th>
                    <td class="lecturer__tablerow--sex table--elt"><%= @lecturer.sex %></td>
                    <th class="lecturer__tablerow--age table--elt">나이</th>
                    <td class="lecturer__tablerow--age table--elt"><%= @lecturer.age %></td>
                </tr>
                <tr class="lecturer__tablerow table__row">
                    <th class="lecturer__tablerow--phone table--elt">연락처</th>
                    <td class="lecturer__tablerow--phone table--elt" colspan="3"><%= @lecturer.phone %></td>
                </tr>
                <tr class="lecturer__tablerow table__row">
                    <th class="lecturer__tablerow--email table--elt">이메일</th>
                    <td class="lecturer__tablerow--email table--elt" colspan="3"><%= @lecturer.email %></td>
                </tr> 
                <tr class="lecturer__tablerow table__row">
                    <th class="lecturer__tablerow--career table--elt">경력</th>
                    <td class="lecturer__tablerow--career table--elt"><%= @lecturer.career %></td>
                    <th class="lecturer__tablerow--region table--elt">주활동지역</th>
                    <td class="lecturer__tablerow--region table--elt"><%= @lecturer.region %></td>
                </tr>
            </table>
        </div>
        <div class="lecturer__intro">
            <h2 class="lecturer__intro--title">소개 글</h2>
            <p class="lecturer__intro--content"><%= @lecturer.intro %></p>
        </div>
    </div>
                
   <h1 class="lecturer--name"><%=@lecturer.name%> 강사의 강연 목록</h1>
   
    <div class="lecture__menu">
        <% @lectures.each do |lec| %>
            <div class="lecture__menu--list">
                <a href="<%=lecture_path(lec.id)%>">
                    <% if !lec.lec_poster.blank? %>
                        <%= image_tag "#{lec.lec_poster}", class: "lecture--img image"%>
                    <% else %>
                        <%= image_tag "basic_lecture.JPG", class: "lecture--img image"%>
                    <% end %>
                    <p class="lecture__mylist--elt lecture__mylist--subject"><%= lec.subject %></p>
                    <p class="lecture__mylist--elt lecture__mylist--title"><%= lec.title %></p>
                </a>
            </div>
        <% end %>
    </div>
</div>