<nav class="navbar">
    <a href="/"><%= image_tag 'logo.png', class: "navbar--logo" %></a>
    <ul class="navbar__list">
        <li class="navbar__list--elt"><a href="#">궁금한강사</a> |&nbsp;</li>
        <li class="navbar__list--elt"><a href="#">강사검색</a> |&nbsp;</li>
        <li class="navbar__list--elt"><a href="#">최신 강사리뷰</a> |&nbsp;</li>
        <li class="navbar__list--elt"><a href="#">강사보러가기</a> |&nbsp;</li>
        <li class="navbar__list--elt"><a href="#">문의하기</a> | &nbsp;</li>
        <% if session[:id] %>
            <li class="navbar__list--elt"><a href="<%=new_lecture_path%>">강연등록 |</a></li>
            <li class="navbar__list--elt"><a href="<%=login_logout_path%>"> 로그아웃</a></li>
        <% else %>
            <li class="navbar__list--elt"><a href="<%=login_login_path%>"> 로그인 |&nbsp;</a></li>
            <li class="navbar__list--elt"><a href="<%=new_lecturer_url%>">회원가입</a></li>
        <% end %>
    </ul>
</nav>